services:
  api:
    build:
      context: ./backend
    env_file:
      - backend/.env
    environment:
      DATABASE_URL: file:/app/data/move-my-car.db
      CLIENT_URL: http://localhost:5200
    volumes:
      - ./data:/app/data
    ports:
      - '4000:4000'

  web:
    build:
      context: ./frontend
    depends_on:
      - api
    env_file:
      - frontend/.env
    ports:
      - '5200:5200'
